* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.firstview-container {
    height: 100vh;
    background-image: url('https://us.images.westend61.de/0000742102pw/vegetable-and-lettuce-fields-SIEF007104.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: auto 1fr;
}
.hero-center {
    align-self: center;
}