* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Alegreya", serif;
}

.hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    padding-left: 100px;
}

.hero-content {
    color: whitesmoke;

    h1 {
        font-size: 5rem;
        margin-bottom: 25px;
        max-width: 800px;
        font-weight: 700;
    }

    p {
        font-size: 1.5rem;
        max-width: 700px;
        margin-bottom: 25px;
        font-weight: 400;
    }

    button {
        padding: 25px 50px;
        background-color:rgba(255, 255, 255, 0.401);
        border: none;
        border-radius: 5px;
        font-size: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-container {
        padding-left: 50px;
    } 
    .hero-content {
        h1 {
            font-size: 2.2rem;
        }
        p {
            font-size: 1.2rem;
        }
        button {
            padding: 15px 25px;
            font-size: 1rem;
        }
    }
    .hero-fake-div {
        display: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .hero-content {
        h1 {
            font-size: 3rem;
        }
    }
    .side-menu {
        display: none;
    }
}