* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Alegreya", serif;
}

.navbar-container {
    min-width: 100%;
    padding: 25px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    animation-name: fadeInDown;
    animation-duration: 1s;
}

.navbar-container > * {
    margin: 0px 50px;
}

.navbar-logo {
    font-size: 4rem;
    color: #fff;
    font-weight: 500;
}

.navbar-links {
    display: flex;
    cursor: pointer;
}

.navbar-links li {
    text-align: left;
    list-style-type: none;
    font-size: 1.5rem;
    margin-right: 2rem;
}

.navbar-links a {
    text-decoration: none;
    color: rgb(36, 36, 36);
    transition: ease 300ms;
}

.navbar-links a:hover {
    color: yellow;
}

.navbar-menu {
    display: none;
}

.menu-items {
    display: none;
}

@media only screen and (max-width: 767px) {
    .navbar-logo {
        font-size: 2rem;
    }
    .navbar-links {
        display: none;
    }
    .navbar-menu {
        height: 2rem;
        display: block;
    }
    .side-menu {
        position: fixed;
        top: 0;
        right: -300px;
        width: 175px;
        height: 100%;
        background-color: #242424;
        transition: right 0.3s ease;
    }
    
    .side-menu.open {
        right: 0;
    }
    
    .menu-items {
        display: block;
        margin-top: 50px;
        padding: 20px;
        color: #fff;
        font-size: 1.2rem;
    }
    
    .menu-items Link {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 10px 0;
    }
    
    .menu-items a:hover {
        background-color: #555;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
